@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    background-color: rgb(31, 30, 30);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px;
    padding: 0;
    font-family: 'Source Code Pro', monospace
}

.space hr{
    background-color: rgba(110, 110, 110, 0.301);
    box-shadow: 15px 10px 10px black;
    height: 5px;
    border-radius: 5px;
    border-style: none;
}
.navbar{
    display: flex;
    height: 70px;
    border-radius: 5px;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.589);
    position: sticky;
    top: 0%;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.navbar .logos{
    top: 0%;
    display: flex;
    position: relative;
    bottom: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.navbar .logos a{
    height: 25px;
    width: 25px;
    margin: 20px;
    
}

.navbar .logos img{
    position: relative;
    top: 0px;
    transition: all 2s;
}
.navbar .logos img:hover{
    transition: all 1s;
    transform: rotate(360deg);
}
.navbar p{
    height: 50px;
    width: 200px;
    position: relative;
    margin: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.418);
    text-shadow: 2px 2px 2px rgba(134, 140, 148, 0.315);
    font-style: normal;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
#cv-btn{
    background-color: blue;
    width: 10vw;
    height: 5vh;
    border-style: none;
    border-radius: 5px;
    font-size: 1vw;
}
.about-me{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.about-me .me{
    display: flex;
    flex-direction: column;
}
.about-me img{
    width: 30vw;
    border-radius: 400px;
    border-color: black;
}
.about-me img:hover{
    transition: all 5s;
    transform: rotate(360deg);
}
.about-me .me h1{
    font-size: 6vw;
    margin: 0;
    font-family: 'Source Code Pro', monospace
}
.about-me .me h2{
    font-size: 3vw;
    color: rgb(90, 90, 90);
    margin: 0;
    font-family: 'Source Code Pro', monospace
}
.about-me .me p{
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace
}
.skills{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Source Code Pro', monospace
}
.unrel .music{
    margin: auto;
    padding: 20px;
    justify-content: center;
}
.unrel{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.unrel .music img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
    object-fit: cover;
    border-radius: 10px;
}
.unrel .music:hover{
    transition: all 3s;
    transform: scale(1.1);
}
.unrel .music audio{
    width: 100%;
    outline: none;
}
.unrel .music p{
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.295);
}
#player{
    background-color: rgb(255, 255, 255);
    color: rgb(212, 122, 122);
}