body{
    background-color: rgb(31, 30, 30);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    height: 70px;
    border-radius: 5px;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.589);
    position: sticky;
    top: 0%;
    justify-content: space-between;
}
.navbar .logos{
    top: 0%;
    display: flex;
    position: relative;
    bottom: 40px;
    padding: 10px;
    align-items: center;
}
.navbar .logos a{
    height: 25px;
    width: 25px;
    margin: 20px;
    
}

.navbar .logos img{
    position: relative;
    top: 0px;
    transition: all 2s;
}
.navbar .logos img:hover{
    transition: all 1s;
    transform: rotate(360deg);
}
.navbar p{
    height: 50px;
    width: 200px;
    position: relative;
    top: 5px;
    right: 380px;
    color: rgba(255, 255, 255, 0.418);
    text-shadow: 2px 2px 2px rgba(134, 140, 148, 0.315);
    font-style: normal;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.about-me img{
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border-color: black;
}
.about-me img:hover{
    transition: all 5s;
    transform: rotate(360deg);
}
.about-me p{
    text-align: center;
    font-size: larger;
    color: rgb(90, 90, 90);
}
.unrel .music{
    margin: auto;
    padding: 50px;
    justify-content: center;
}
.unrel{
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.unrel .music img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
    object-fit: cover;
    border-radius: 10px;
}
.unrel .music:hover{
    transition: all 3s;
    transform: scale(1.1);
}
.unrel .music audio{
    width: 100%;
    outline: none;
}
.unrel .music p{
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.295);
}
#player{
    background-color: rgb(255, 255, 255);
    color: rgb(212, 122, 122);
}